.bar-order-view {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #aaa;
  width: 1500px;
  margin-left: 220px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.note {
  background-color: #ffeedd;
  padding: 10px;
  border: 1px solid #ffccaa;
  margin: 5px; 
  box-shadow: 2px 2px 5px #ddd;
  list-style: none;
  cursor: pointer;
  width: calc(30% - 5px);
  height: calc(25% -5px); 
}